body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidemenu li {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.sidemenu li:hover {
  background-color: #ffffff;
  color: #2C6EFD !important;
}

.sidemenu li:hover a {
  color: #2C6EFD !important;
}

.sidemenu li a {
  text-decoration: none;
  color: #ffffff;
}

.bg-upload {
  background: url(../images/upload.svg) no-repeat center ;
  background-size: 50px;
}
